@keyframes ldio-03ryofceyk19 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-03ryofceyk19 div { box-sizing: border-box!important }
.ldio-03ryofceyk19 > div {
  position: absolute;
  width: 131.99px;
  height: 131.99px;
  top: 32.505px;
  left: 32.505px;
  border-radius: 50%;
  border: 5.91px solid #000;
  border-color: #dd1826 transparent #dd1826 transparent;
  animation: ldio-03ryofceyk19 1.2987012987012987s linear infinite;
}

.ldio-03ryofceyk19 > div:nth-child(2), .ldio-03ryofceyk19 > div:nth-child(4) {
  width: 116.23px;
  height: 116.23px;
  top: 40.385px;
  left: 40.385px;
  animation: ldio-03ryofceyk19 1.2987012987012987s linear infinite reverse;
}
.ldio-03ryofceyk19 > div:nth-child(2) {
  border-color: transparent #3d3ac8 transparent #3d3ac8
}
.ldio-03ryofceyk19 > div:nth-child(3) { border-color: transparent }
.ldio-03ryofceyk19 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-03ryofceyk19 > div:nth-child(3) div:before, .ldio-03ryofceyk19 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 5.91px;
  height: 5.91px;
  top: -5.91px;
  left: 57.13px;
  background: #dd1826;
  border-radius: 50%;
  box-shadow: 0 126.08px 0 0 #dd1826;
}
.ldio-03ryofceyk19 > div:nth-child(3) div:after {
  left: -5.91px;
  top: 57.13px;
  box-shadow: 126.08px 0 0 0 #dd1826;
}

.ldio-03ryofceyk19 > div:nth-child(4) { border-color: transparent; }
.ldio-03ryofceyk19 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-03ryofceyk19 > div:nth-child(4) div:before, .ldio-03ryofceyk19 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5.91px;
  height: 5.91px;
  top: -5.91px;
  left: 49.25px;
  background: #3d3ac8;
  border-radius: 50%;
  box-shadow: 0 110.32px 0 0 #3d3ac8;
}
.ldio-03ryofceyk19 > div:nth-child(4) div:after {
  left: -5.91px;
  top: 49.25px;
  box-shadow: 110.32px 0 0 0 #3d3ac8;
}
.loadingio-spinner-double-ring-82201lwwf4l {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-03ryofceyk19 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-03ryofceyk19 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
